@font-face {
    font-family: 'SF Compact';
    src: url(../rsschool-cv/SFCompactText-Light.woff);
}

body {
    margin: 0;
    top: 0;
    padding: 0;
    bottom: 0;
}

li {
    list-style-type: none;
}

.color {
    color: white;
}

.big-section {
    background-color: 	#DCDCDC
}

.left {
    width: 300px;
    margin-left: 100px;
    padding: 80px;
}

.left__img {
    display: flex;
    justify-content: center;
    text-align: center;

}

.left__img img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
}
    

.info-list__ava img {
    display: flex;
    justify-content: center;
}

.personal {
    text-align: center;
    font-family: 'SF Compact';
    font-weight: 700;
    font-size: 40px;
}

.info-list__article {
    border-bottom: 1px solid #4d5a5f;
    display: flex;
    align-items: center;
    padding: 28px 0;
}



.info-list__image--img {
    max-width: 36px;
    max-height: 36px;
}

.info-list__text {
    margin-right: 20px;
    font-family: 'SF Compact';
    font-weight: 700;
    font-size: 16px;
    color: #696969 ;
}

.info-list__date {
    margin-left: 20px;
}

.info-list__title{
    margin-bottom: 5px;
    padding: 0;
    margin-left: 20px;
}

.phone-list__title {
    margin-left: 20px;
}

.info-list__date {
    margin-top: 5px;
}

.right {
    position: absolute;
    margin-top: 110px;
    left: 800px;
    top: 0;
    width: 300px;
    background-color: #FFF8DC;
    padding: 126px 132px
}

.educ-title {
    text-align: center;
    font-family: 'SF Compact';
    font-weight: 500;
    font-size: 28px;
}

.educ-first__name {
    padding: 15px;
    max-width: 260px;
    font-family: 'SF Compact';
    font-weight: 500;
    font-size: 17px;
    color: #696969;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
}

.educ-first__spec {
    padding: 15px;
    max-width: 260px;
    font-family: 'SF Compact';
    font-weight: 400;
    font-size: 15px;
    color: #696969;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 40px;
    padding-bottom: 0;
    padding-top: 0;
}

.work-title {
    padding-left: 15px;
    font-family: 'SF Compact';
    font-weight: 500;
    font-size: 28px;
    margin-top: 110px;
}

.work-exp__title {
    padding: 15px;
    max-width: 260px;
    font-family: 'SF Compact';
    font-weight: 500;
    font-size: 24px;
    color: #696969;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
}

.work-exp__descr {
    padding: 15px;
    max-width: 260px;
    font-family: 'SF Compact';
    font-weight: 400;
    font-size: 18px;
    color: #696969;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 0;
}

.work-exp__list {
    list-style-type: square;
    padding: 10px;
    max-width: 260px;
    font-family: 'SF Compact';
    font-weight: 400;
    font-size: 12px;
    color: #696969;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 50px;
    padding-bottom: 7px;
    padding-top: 0;
}




